.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

body {
  padding-top: 50px;
}

.question-text{
  color: #0099FF;
}

.user-name {
  color: #FFA347;
}
