<div class="light-overlay"></div>
<span class="stroke">
  <div class="col-sm-4">
    <h3 class="text-center">Our Knowledge Base</h3>

    <div class='add-question'>
      {{#link-to 'questions.new' classNames="btn btn-info"}}Ask us something?{{/link-to}}
    </div>

    <ul class="question-list list-unstyled">
      {{#each question in model}}
        {{#link-to 'question' question.id}}
          <li> {{question.questionText}} &nbsp;&nbsp; by: {{question.user}}</li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>

  <div class="col-sm-8">
    {{outlet}}
  </div>
</span>
