<h1>Our Knowledge Base</h1>

<div class="col-sm-4">
  <div class='add-question'>
    {{#link-to 'questions.new' classNames="btn btn-info"}}Ask us something?{{/link-to}}
  </div>

  <ul class="question-list list-unstyled">
    {{#each question in model}}
      {{#link-to 'question' question.id}}
        <li> {{question.questionText}} </li>
      {{/link-to}}
    {{/each}}
  </ul>
</div>

<div class="col-sm-8">
  {{outlet}}
</div>
